# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

**Objectives:**
* List popular languages for data science.
* List common Ecosystems & tools for data science.
* List popular libraries used by data scientists.
## Author
  Sohail Khan

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Keras

| Data Science Tools |
| -------------------|
| Jupyter Notebook |
| R Studio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335